<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Fido 2.0 webauthn demo</title>
    <script src="..//cbor.js"></script>
  </head>
  <body>
    <div class="jumbotron"> 
      <h1 class="display-4">Webauthn demo</h1>
      <p class="lead">This demo requires a browser supporting the WebAuthn API!</p>
    </div> 
    <center>
    {% include 'login.html' %}
    </center>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
