
{% include 'pageheader.html' %}

<center>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/img/yk.png" onclick="start();" alt="Yubikey Plug in">
  <div class="card-body">
    <h5 class="card-title">Register a credential</h5>
    <p class="card-text">Touch your YubiKey now....</p>
  </div>
</div>
</center>
<script src="/js/fido2.reg.js"></script>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="btn btn-primary" href="/" role="button">Home</a>
</nav>
{% include 'pagefooter.html' %}